<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopp</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    {% include 'nav.njk' %}
    <section class="section-container">
        <ul class="Articles">
            {%- for post in collections.post -%}
            <article class="article">
                <div class="article-text">
                    <h3 class="article-title">{{post.data.title}}</h3>
                    <h4 class="article-price">{{post.data.price}}</h4>
                    <img src="{{post.data}}" alt="" class="img-preview">
                </div>
                <button class="btn"><a href="{{post.data.url}}">More Info</a></button>
                <img src="{{post.data.image}}" alt="" class="img-preview">
            </article>
            {%- endfor -%}
        </ul>

    </section>
</section>
<div id="wrapper">
  <div id="container">
    <div id="items"></div>
  </div>
  <div id="container">
    <div id="cart">
      <p></p>
    </div>
    <div id="total"></div>
  </div>
</div>
</body>

</html>